.hlist dl, .hlist ol, .hlist ul {
	margin: 0;
	padding: 0
}

.hlist dd, .hlist dt, .hlist li {
	margin: 0;
	display: inline
}

.hlist.inline, .hlist.inline dl, .hlist.inline ol, .hlist.inline ul,
	.hlist dl dl, .hlist dl ol, .hlist dl ul, .hlist ol dl, .hlist ol ol,
	.hlist ol ul, .hlist ul dl, .hlist ul ol, .hlist ul ul {
	display: inline
}

.hlist .mw-empty-li {
	display: none
}

.hlist dt:after {
	content: ":"
}

.hlist dd:after, .hlist li:after {
	content: " - ";
	font-weight: bold
}

.hlist dd:last-child:after, .hlist dt:last-child:after, .hlist li:last-child:after
	{
	content: none
}

.hlist dd.hlist-last-child:after, .hlist dt.hlist-last-child:after,
	.hlist li.hlist-last-child:after {
	content: none
}

.hlist dd dd:first-child:before, .hlist dd dt:first-child:before, .hlist dd li:first-child:before,
	.hlist dt dd:first-child:before, .hlist dt dt:first-child:before,
	.hlist dt li:first-child:before, .hlist li dd:first-child:before,
	.hlist li dt:first-child:before, .hlist li li:first-child:before {
	content: " (";
	font-weight: normal
}



.hlist dd dd.hlist-last-child:after, .hlist dd dt.hlist-last-child:after,
	.hlist dd li.hlist-last-child:after, .hlist dt dd.hlist-last-child:after,
	.hlist dt dt.hlist-last-child:after, .hlist dt li.hlist-last-child:after,
	.hlist li dd.hlist-last-child:after, .hlist li dt.hlist-last-child:after,
	.hlist li li.hlist-last-child:after {
	content: ") ";
	font-weight: normal
}

.hlist ol {
	counter-reset: listitem
}

.hlist ol>li {
	counter-increment: listitem
}

.hlist ol>li:before {
	content: " " counter(listitem) " ";
	white-space: nowrap
}

.hlist dd ol>li:first-child:before, .hlist dt ol>li:first-child:before,
	.hlist li ol>li:first-child:before {
	content: " (" counter(listitem) " "
}
.hlist ul {
	margin-bottom: 25px;
	padding-left: 10px;
}

.plainlist ul {
	line-height: inherit;
	list-style: none none;
	margin: 0
}

.plainlist ul li {
	margin-bottom: 0
}