<!-- home.html -->

<div>

	<h4>
		{{className}} <small>(<a data-ng-href="#{{object}}/create">new</a>)
		</small>
	</h4>
	<br />

	<table border="1">
		<thead>
			<tr>
				<td data-ng-repeat="(property, data) in schema.properties" data-ng-if="showField('list', property, data)" style="padding: 2px;"><b>{{getFieldLabel('list', property, data)}}</b></td>
			</tr>
		</thead>

		<tr data-ng-repeat="obj in list">
			<td data-ng-repeat="(property, data) in schema.properties" data-ng-if="showField('list', property, data)" style="padding: 2px;">
				<nobr>
					<a data-ng-href="#{{object}}/update/{{obj['id']}}" data-ng-if="property=='name'">{{obj[property]}}</a> 
					<span data-ng-if="property!='name' && getFieldDisplayType('list', property, data)=='object'">{{obj[property].name}}</span>
					<span data-ng-if="property!='name' && getFieldDisplayType('list', property, data)!='object'">{{obj[property]}}</span>
				</nobr>
			</td>

		</tr>

	</table>

</div>