<!-- home.html -->

<div>
	<form name="myForm" ng-submit="submitMyForm()">
		<div ng-repeat="(property, data) in schema.properties">
			<div>{{property}}</div>
			<div ng-if="getFieldEditability(mode, property, data)=='read'">
				<div ng-if="getFieldType(mode, property, data)=='text'">{{read[property]}}</div>
				<div ng-if="getFieldType(mode, property, data)=='datetime'">{{read[property] | date:'medium'}}</div>
			</div>
			<div ng-if="getFieldEditability(mode, property, data)=='edit'">
				<div ng-if="getFieldType(mode, property, data)=='text'">
					<input type="text" ng-model="read[property]" />
				</div>
				<div ng-if="getFieldType(mode, property, data)=='object'">
					<select ng-model="read[property].id" dynamic-ng-options="'obj.id as obj.name for obj in selectObject.' + property.toLowerCase()"></select>
				</div>
			</div>
			<br />
		</div>
	</form>

</div>